<div class="container">
  <form  (ngSubmit)="onLogin()" #loginForm="ngForm">
  <div class="space-y-12">
    <div class="border-b border-gray-900/10 pb-12">
      <h2 class="text-base/7 font-semibold text-gray-900 div-block">Bonjour,</h2>
      <p class="mt-1 text-sm/6 text-gray-600">Bienvenue sur algostyle, ici on apprend ensemble.</p>

      <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
        <div class="sm:col-span-4 div-block">
          <label for="email" class="block text-sm/6 font-medium text-gray-900">Email</label>
          <div class="mt-2">
            <div class="flex items-center rounded-md bg-white pl-3 outline-1 -outline-offset-1 outline-gray-300 focus-within:outline-2 focus-within:-outline-offset-2 focus-within:outline-indigo-600">
              <!-- <div class="shrink-0 text-base text-gray-500 select-none sm:text-sm/6">workcation.com/</div> -->
              <input id="email" type="text" name="email" placeholder="email" 
                      [(ngModel)]="credentials.email" 
                      class="block min-w-0 grow py-1.5 pr-3 pl-1 text-base text-gray-900 placeholder:text-gray-400 focus:outline-none sm:text-sm/6" />
            </div>
          </div>
        </div>

        <div class="sm:col-span-4 div-block" >
          <label for="password" class="block text-sm/6 font-medium text-gray-900">Mot de passe </label>
          <div class="mt-2">
            <div class="flex items-center rounded-md bg-white pl-3 outline-1 -outline-offset-1 outline-gray-300 focus-within:outline-2 focus-within:-outline-offset-2 focus-within:outline-indigo-600">
              <!-- <div class="shrink-0 text-base text-gray-500 select-none sm:text-sm/6">workcation.com/</div> -->
              <input id="password" type="password" name="password" placeholder="mot de passe" 
                    class="block min-w-0 grow py-1.5 pr-3 pl-1 text-base text-gray-900 placeholder:text-gray-400 focus:outline-none sm:text-sm/6"
                    [(ngModel)]="credentials.password" 
                    />
            </div>
          </div>
        </div>

      </div>
    </div>
    </div>
  

  <div class="mt-6 flex items-center justify-end gap-x-6">
    <button  [disabled]="!loginForm.valid" type="submit" class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-xs hover:bg-indigo-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Se connecter</button>
  </div>
  <div *ngIf="error" class="error">{{ error }}</div>
</form>

</div>